body{
    background-image: url("memphis-mini copy.png");
    font: 24px/32, arial,helvetica,sans-serif;
    color: #777777;
    margin: 0;
    background-color: #ffffff;
    border-color: #dddddd;
    border: 960px;
}
/* global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin:0;
    padding: 0;
}
/* header */
header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#ffffff;
    color: #ffffff; 
    padding-top: 10px;
    min-height: 70px;
    border-bottom: #ccc 3px solid;
}
header h1{
    background-color:#4aaaa5;
}
header a{
    color: rgba(113, 109, 109, 0.8);
    text-decoration: none;
    text-transform:uppercase;
}

header li{
    float: left;
    padding: 0 20px 0 20px;
    font-family: arial, 'helvetica neue', helvetica, 'sans-serif';
    border-right: #dddd solid 1px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin:0;
    padding: 15px;
    margin-left: 10px;
}
header nav{
    float: right;
    padding-top: 20px;
    padding-right: 10px;
}
/* all body mods */
main{
    background-color: #ffffff;
    border: #ffff 3px solid;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
main h1{
    color: #4aaaa5;
}
.container{
    background-color: #ffff;
    border: #dddddd 1px solid;
    margin: 60px 60px 100px 60px;
    padding:10px;

}
.container h1{
    border-bottom: #dddd solid 2px;
    padding: 3px;
    color:#4aaaa5;
    font-size: 32px;
}
.container p{
    padding: 5px;
}
/* about me page specifics */
img{
    float: left;
    margin: 5px;
    padding:5px;
}
/* contact page specifics */

.container input{
    width: 99%;
}
#message{
    padding-bottom:60px;
}
#button{
    background-color: #4aaaa5;
    color:#ffff;
    padding: 5px;
    width: 15%;
    margin-top: 15px;
        
}
.input-format{
    padding: 10px 5px 10px 5px;
    margin: 5px 0px 5px 5px;
}
/* portfoloio styling */
.container img{
    width: 200px;
    height: 150px;
}

.image1{
}

.boop{
    position:relative;
    bottom: 20px;
    right: 20px;
    background-color: #4aaaa5;
    color: #ffff;
    padding-left: 20px;
    padding-right: 20px;
}
span{
    position:absolute;
}
/* footer */
footer{
    background-color: #666666;
    color: #ffff; 
    padding: 5px;
    text-align:center;
    margin: 0px;
    border-top: #4aaaa5 5px solid;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}
@media (max-width: 980px) {
.container{
    max-width: 500px;
    margin: 40px 500px 100px 40px;
    padding: 20px 20px 10px 20px;
}
.container img{
    width: 200px;
    height: 150px;
}
}
@media (max-width : 768px) {
.container{
    margin: 30px 20px 100px 20px;
    min-width: 685px;
    padding: 20px 20px 20px 20px;
}
.container img{
    align: center;
    padding: 15px 30px 10px 30px;
    width: 250px;
    height: 200px;

}
}
@media (max-width: 640px) {
nav{
    font-size:15px;
    text-align: center;
    background-color: white;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: solid 3px #6666;
    clear: inherit;

}
.container{
    min-width:350px;
    min-height: 600px;
    text-align: justify;
    margin: 30px;
    margin-top: 70px;
}
#profile{
    float: none;
    width: 400px;
}
#branding{
    width: 100%;
    text-align: center;
}
header{
    position: static;
}
 #boop{
    width: 100%;
}
ul{
    display: inline-block;
}

}